body {
  background: #F0E5D6;
  font-family: 'Oswald', sans-serif;
}

.paraph h2 {
  color: #01395C;
  font-weight: 200;
  font-size: 2rem;
}

.paraph p {
  line-height: 2;
  color: #7C96A8;
}

.content {
  margin-top: 100px;
}

#mainmenu {
  font-size: 1.5rem;
  font-weight: 200;
}

#mainmenu .navbar-brand {
  color: #01395C;
  font-size: 2rem;
}

#mainmenu .nav-link {
  color: #8AC6BF;
}

#mainmenu .nav-link:hover {
  color: #01395C;
}

#headings span {
  color: #01395C;
}

#headings h2 {
  font-weight: 200;
}

@media (max-width: 1400px) {
  #headings h2 {
    font-weight: 200;
    font-size: 2rem;
  }

}

.navbar.scrolled {
  background: #7C96A8;
  transition: background 200ms;
}

.icone {
  font-size: 6em;
}
